{
	"html": {
		"title": "Looking Glass",
		"header": "<h1>Amazing <small>Looking Glass</small></h1>",
		"footer": "<p class=\"float_left\"><a href=\"https://github.com/BrightSkyz/intrace\">Powered by a fork of Intrace</a></p><p class=\"float_right\">Open Source on GitHub</p><div class=\"clear_both\"></div>",
		"columned_probes": false
	}
}
